.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eee;
  z-index: -1;
}

.light {
  width: 200%;
  height: 200%;
  position: absolute;
}

.light1 {
  composes: light;
  top: -100%;
  left: -100%;
}

.light2 {
  composes: light;
  top: -100%;
  left: 0;
}

.light3 {
  composes: light;
}

.light4 {
  composes: light;
  top: 0;
  left: -100%;
}
