html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #131313;
}

html {
  background-color: #eee;
}

@media (prefers-color-scheme: dark) {
  html, body {
    color: #eee;
  }

  html {
    background-color: #131313;
  }
}

a {
  color: inherit;
  text-decoration: underline dotted;
}

* {
  box-sizing: border-box;
}
